;./project/VegeFruits/configs/train.config
[project]
name        = VegeFruits
owner       = VegeFruits
dataset     = VegeFruits

[hardware]
tpu         = None
tpu_zone    = None
gcp_project = None
strategy    = None 
use_xla     = False

[model]
name        = efficientdet-d0
model_dir   = ./projects/VegeFruits/models/
profile     = None
ckpt        = ./efficientdet-d0

[training]
mode                      = train_and_eval
run_epoch_in_child_process= False
batch_size                = 4
epochs                    = 100
save_checkpoints_steps    = 100
file_pattern              = ./projects/VegeFruits/train/train.tfrecord
label_map_pbtxt           = ./projects/VegeFruits/train/label_map.pbtxt


;2021/11/11
hparams                   = label_map=./projects/VegeFruits/configs/label_map.yaml

cores                     = 1
use_spatial_partition     = False

cores_per_replica         = 2
input_partition_dims      = [1, 2, 1, 1]
tf_random_seed            = False
use_fake_data             = False
training_losses_file      = ./projects/VegeFruits/eval/train_losses.csv
;2021/11/24 100->200
num_examples_per_epoch    = 200

[validation]
file_pattern            = ./projects/VegeFruits/valid/valid.tfrecord
;2021/11/15
eval_dir                = ./projects/VegeFruits/eval
batch_size              = 4
;2021/11/24 100->200
eval_samples            = 200

iterations_per_loop     = 100
val_json_file           = None
eval_after_train        = True
min_eval_interval       = 180
timeout                 = None
coco_metrics_file       = ./projects/VegeFruits/eval/coco_metrics.csv
;2021/11/21
coco_ap_per_class_file  = ./projects/VegeFruits/eval/coco_ap_per_class.csv
disable_per_clsss_ap    = False

[early_stopping]
;metric     = fvalue
metric     = map
patience   = 10

[epoch_change_notifier]
enabled   = True
ipaddress = 127.0.0.1
port      = 9999


