;detect_config

[configuration]
runmode            = saved_model_infer

model_name         = efficientdet-d0
       
ckpt_dir           = ./efficientdet-d0
saved_model_dir    = ./projects/coco/saved_model

output_dir         = ./projects/coco/outputs
hparams            = None

;filters           = [car]
;filters           = [car,person]
;filters           = [person]

;filters            = None

log_dir            = ./projects/coco/
label_map_pbtxt    = ./projects/coco/mscoco_label_map.pbtxt
tensorrt           = None
threads            = 0
trace_filname      = None
use_xla            = False
freeze             = False
export_ckpt        = None


delete_logdir      = True
batch_size         = 1
output_image_dir   = ./projects/coco/outputs

detect_results_dir = ./projects/coco/results

input_image        = ./images/img.png
input_video        = None
output_video       = None
trace_filename     = ./projects/coco/trace.log

line_thickness     = 2
max_boxes_to_draw  = 100
min_score_thresh   = 0.2

nms_method         = gaussian


